.pagination-container a.page-item {
  display: inline-block;
  padding: 6px 12px;
  background-color: #0e93fb;
  text-decoration: none;
  color: #fff;
}

.pagination-container a.page-item:hover, .pagination-container a.page-item.active {
  opacity: .7;
}
